@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book Catalog!</h1>

    <p>
        To view, create and update books in our catalogue simply click the "Books" navigation link.
    </p>
</div>
