@page
@model BooksCatalog.Pages.Books.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" id="name"/>
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" id="author" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.RegistrationTimeStamp" class="control-label">Registered On</label>
                <input asp-for="Book.RegistrationTimeStamp" class="form-control" id="reg" />
                <span asp-validation-for="Book.RegistrationTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Category" class="control-label"></label>
                <select asp-for="Book.Category" class="form-control" id="category">
                    <option value="History" selected>History</option>
                    <option value="Drama">Drama</option>
                    <option value="Biography">Biography</option>
                    <option value="Thriller">Thriller</option>
                </select>
                <span asp-validation-for="Book.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" id="description"/>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="Save" class="btn btn-primary" id="save-btn"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index" class="backToList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
      $(function () {
            $('#save-btn').click(function () {
                console.log("In Edit function");
                var book = new Object();
                book.Id = @Model.Book.Id;
                book.Name = $('#name').val();
                book.Author = $('#author').val(); 
                book.RegistrationTimeStamp = $('#reg').val(); 
                book.Category = $('#category').val();
                book.Description = $('#description').val();

                $.ajax({
                    url: "/api/Books/" + @Model.Book.Id + "/Update",
                    type: "PUT",
                    data: JSON.stringify(book),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        var href = $('.backToList').attr('href');
                        window.location.href = href;
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        });
</script>
}
